.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 0px;
}

.content {
  padding: 20px 60px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px #727272; */
  -moz-box-shadow: 0 0 10px #727272;
  box-shadow: 0 0 10px #727272;
}



body{
  font-family: 'Inconsolata', monospace;; /*стиль шрифта*/
  font-size: 16px;
  line-height: 20px;
  color: #E1BBFC;
  background-color: #FFFFFF; 
  margin: 0px;  
}



h1 {
  width: 255px;
  margin: 0 auto 5px;
  font-family: 'Inconsolata', monospace;
  text-align: center; /*расположение по центру*/
  font-weight: normal; /*начертание шрифта*/
  font-size: 66px;
  line-height: 64px;
  margin-top: 26px;
}

.logo {
  max-height: 25%;
  max-width: 25%;
  top: 20px;
  left: 10px;

}


.link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px;
}
.link a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%; /*округление границ*/
    background: #efefef;
    position: relative;
    margin: 5px;
    text-align: center;
    box-shadow: 0 2px 6px #c1c1c1;
    font-size: 32px;
    color: #337AB7;
    transition: 0.5s;
}
.link a img {
    width: 32px;
    height: 32px;
    margin-top: 14px;
}
.link a i,
.link a img {
    z-index:2;
    position: relative;
    line-height: 60px;
}
.link a:hover { /*при наведении*/
    color: #fff;
}
.link a:after { 
    content: '';
    display: block;
    position: absolute;
    background: #BFE2FF;
    border-radius: 100%;
    width: 0;
    height: 0;
    transition: 0.3s;
    top: 0;
    left: 50%;
}
.link a:hover:after {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    background: #337AB7;
}
.buttonn {
  background-color:#868686;
  color: #625290;
  width: 96px;
  height: 25px;
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
  position: fixed;
  top: 10px;
  left: 24px;
  max-height: 31px;
  max-width: 190px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.buttonn {
  color: #FFF;
  max-height: 25px;
  max-width: 130px;
  cursor: pointer;
}

.buttonn:active { /*при нажатии*/
  color: black;
}

.buttonn:hover {
  color: black;
}

/*боковая панель*/
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #BDBDBD; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

/*сслыки*/
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #505050;
  font-family: 'Inconsolata', monospace;
  display: block;
  transition: 0.3s;
}

/*при наведении*/
.sidenav a:hover {
  color: #f1f1f1;
}

/*при закрытии*/
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s;
  padding: 0px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container {
  width: 510px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  min-width: 550px;
  height: 200px;
  margin-bottom: 0px;
  padding-top: 30px;
  background: #847462 no-repeat center url(image/main_back.jpg);
  background-size: cover;
  color: #ffffff;
  background-color: #484848;
}

.header p {
    margin: 0 auto 20px;
    text-align: center;
    font-size: 25px;
    line-height: 20px;
    margin-top: 15px;
}

.block1 h2 {
  margin-top: 1em;
  color: #505050;
  margin-left:2em;
  font-size: 25px;
  margin-right: 33px;
  
}

.block1 p {
  margin-right: 33px;
  margin-left: 33px; 
  font-size: 19px;
  color: #808080;
  
}

.block2 h2 {
  color: #505050;
  margin-left:2em;
  font-size: 25px;
  margin-right: 33px;
  
}

.block2 p {
  margin-right: 33px;
  margin-left: 33px; 
  font-size: 19px;
  color: #808080;
  
} 

.footer {
  min-width: 550px;
  background-color: #868686;
  color: #ffffff;
}

.footer .container {
  text-align: center;
}

.footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 2 20px;
}



.image {
  display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 50%;
    max-width: 50%;
} 
