.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 0px;
}

.content {
  padding: 20px 60px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px #727272; */
  -moz-box-shadow: 0 0 10px #727272;
  box-shadow: 0 0 10px #727272;
}

body{
  font-family: 'Inconsolata', monospace;;
  font-size: 16px;
  line-height: 20px;
  color: #FF939B;
  background-color: #DBC3C7;
  margin: 0px;  
}

h1 {
  width: 255px;
  margin: 0 auto 5px;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-weight: normal;
  font-size: 66px;
  line-height: 64px;
  margin-top: 26px;
}


.buttonn {
  background-color:#80343F;
  color: #EC859B;
  width: 96px;
  height: 25px;
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
  position: fixed;
  top: 10px;
  left: 24px;
  max-height: 31px;
  max-width: 190px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.buttonn {
  color: #FFFFFF;
  cursor: pointer;
  max-height: 25px;
  max-width: 130px;
}


.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #8D1616; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  font-family: 'Inconsolata', monospace;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover {
  color: #FD7C7C;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s;
  padding: 0px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container {
  width: 510px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  min-width: 550px;
  height: 200px;
  margin-bottom: 0px;
  padding-top: 30px;
  background: #FF93A0 no-repeat center url(image/red_back.jpg);
  background-size: cover;
  color: #ffffff;
  background-color: #F68E9F;
}

.header p {
    margin: 0 auto 20px;
    text-align: center;
    font-size: 25px;
    line-height: 20px;
    margin-top: 15px; 
  
}

.block1 h2 {
  margin-top: 1em;
  color: #7F1A1A;
  margin-left:2em;
  font-size: 25px;
  margin-right: 33px;
}

.block1 p {
  margin-right: 33px;
  margin-left: 33px; 
  font-size: 19px;
  color: #903133;

}

.block2 h2 {
  color: #7F1A1A;
  margin-left:2em;
  font-size: 25px;
  margin-right: 33px;
}

.block2 p {
  margin-right: 33px;
  margin-left: 33px; 
  font-size: 19px;
  color: #903133;
} 

.footer {
  min-width: 550px;
  background-color: #8D1616;
  color: #ffffff;
}

.footer .container {
  text-align: center;
}

.footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 2 20px;
}



.image {
  display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 50%;
    max-width: 50%;
} 
